@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+25&display=swap');

:root {
    --primary-color: #10A6BF;
    --secondary-color: #087C8B;
    --background-color: #808787;
    --text-color: #000d19;
    --font-primary: 'Bebas Neue', sans-serif;
    --font-secondary: 'Jersey 25', sans-serif;
    --border-radius: 8px;
    --transition-duration: 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-primary);
    color: var(--text-color);
}

nav {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px;
    text-align: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
    border-radius: var(--border-radius);
}

.navbar a:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2F9FF;
}

.login button {
    background-color: #10A6BF;
    color: white;
    padding: 20px 30px;
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    font-weight: bold;
    
    margin-top: 20px; /* Add margin-top for the button */
    width: auto;
}

.login button:hover {
    background-color: #087C8B;
}

.login input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #10A6BF;
    font-size: large;
    width: 86%; 
    
}
#passwoorderror,#usernameerror
{
color: red;
font-family: bebas-neue, sans-serif;
}
#msg
{
color: green;
font-family: bebas-neue, sans-serif;
}